body {
    font-family: arial;
    font-size: 12px;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    background-color: #222;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    cursor: pointer;
    background-color: #444;
    color: white;
    padding: 8px;
    border: none;
    outline: none !important;
}

a:link {color: #96adda; text-decoration: none; }
a:active {color: #83a6de; text-decoration: none; }
a:visited {color: #96adda; text-decoration: none; }
a:hover {color: #1644ce; text-decoration: none; }

::-webkit-scrollbar { width: 12px; height: 0px;}
::-webkit-scrollbar-button {  background-color: #444; height: 0px;}
::-webkit-scrollbar-track {  background-color: #444;}
::-webkit-scrollbar-track-piece { background-color: #1c1c1c;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #444; border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: #444;}
::-webkit-resizer { background-color: #444;}