.titlebar {
    display: block;
    height: 32px;
    width: 100%;
    background: #2d2d2d;
    padding: 0px;
}

.app-name-container {
    position: absolute;
    font-size: 11.6px;
    padding-top: 9px;
    padding-left: 23px;
    width: calc(100% - 143px);
    height: 22px;
    color: #ddd;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-app-region: drag;
}

.windows-controls-container {
    float: right;
    vertical-align: top;
}

.minimize-button {
    height: 32px;
    width: 40px;
    background-color: #2d2d2d;
    background-image: url("images/MinimizeButton.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.minimize-button:hover {
    background-color: #3d3d3d;
}

.minimize-button:active {
    background-color: #5c5c5c;
}

.maximize-button {
    height: 32px;
    width: 40px;
    background-color: #2d2d2d;
    background-image: url("images/MaximizeButton.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.maximize-button:hover {
    background-color: #3d3d3d;
}

.maximize-button:active {
    background-color: #5c5c5c;
}

.close-button {
    height: 32px;
    width: 40px;
    background-color: #2d2d2d;
    background-image: url("images/CloseButton.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.close-button:hover {
    background-color: #d6142e;
}

.close-button:active {
    background-color: #a31024;
}